# Python virtual environment
.venv/
venv/
env/

# Node modules
node_modules/

# Compiled
__pycache__/
*.pyc

# Build output
dist/
build/

# Large files
*.dll
*.bin
*.h5
*.pt
*.ckpt

# OS Junk
.DS_Store
Thumbs.db
